.portfolio__button {
    background-color: var(--background-team-color);
    color: var(--title-text-color);
    font-family: Roboto;
    @include font(500, 16px, 1.63, 0.03em);
    border-radius: 4px;
    border: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    transition: background-color var(--timer) var(--cubic-bezier),
    color var(--timer) var(--cubic-bezier),
    box-shadow var(--timer) var(--cubic-bezier);

    &:hover,
    &:focus {
    background-color: var(--accent-color);
    color: var(--additional-white-color);
    box-shadow: 0px 3px 1px var(--close-btn), 0px 1px 2px var(--current-active-box-shadow), 0px 2px 2px var(--modal-box-shadow);
    }
}

.portfolio__button-list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  flex-wrap: wrap;
  @media screen and (max-width: $tablet) {
    margin-top: -15px;
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 30px;
    justify-content: center;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }

}
.current-active {
    background-color: var(--accent-color);
    color: var(--additional-white-color);
    box-shadow: 0px 3px 1px var(--close-btn), 0px 1px 2px var(--current-active-box-shadow), 0px 2px 2px var(--modal-box-shadow);
    border-radius: 4px;
}
.portfolio__button-click {
  @media screen and (max-width: $tablet) {
    margin-top: 15px;
  }

  &:not(:last-child) {
    margin-right: 8px;
  }
}