.clients__block {    
    list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-left: -30px;
  margin-top: -30px;
}
.clients__list {

 margin: 0;
  padding: 0;
  flex-basis: calc(100% / 2 -30px);
  margin-left: 30px;
  margin-top: 30px;

  @media screen and (min-width: $tablet) {
    flex-basis: calc(100% / 3 -30px);
  }
  @media screen and (min-width: $desktop) {
    flex-basis: calc(100% / 6 -30px);
  }
}
.clients__icon {
    fill: currentColor;
}
.clients__link {
    width: 210px;
    height: 92px;
    @extend %align-center;
    border: 1px solid var(--client-color);
    box-sizing: border-box;
    border-radius: 4px;
    color: var(--client-color);
    transition: color var(--timer) var(--cubic-bezier),
    border-color var(--timer) var(--cubic-bezier);
    @media screen and (min-width: $tablet) {
    width: 226px;
  }
    @media screen and (min-width: $desktop) {
    width: 170px;
  }
    
    &:hover,
    &:focus{
    border-color: var(--accent-color);
    color: var(--accent-color);
    }
}