.section .container {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.features{
    display: flex;

    & .features__list + .features__list {
    margin-left: 30px;
    }

}

.features__title-block {
    color: var(--title-text-color);
    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;

    }

.features__title {

    margin-top: 0;
    margin-bottom: 0;
}

.features__list {
    margin-top: 0;
    margin-bottom: 0;
    width: 272px;
    
    & .features__title-block {
    text-align: left;
    }
}

.features__icon-block {

    width: 270px;
    height: 120px;
    @extend %align-center;
    border-radius: 4px;
    margin-bottom: 30px;
    background-position: center;
    background-color: var(--background-team-color);

}

.features__icon {

    width: 70px;
    height: 70px;
    background-repeat: no-repeat;

}

.features__text-title {

    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;  
}