
.section-work {
  display: none;
  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.work__action-block {
    position: relative;
    line-height: 0;
}

.work__action-line {
    width: 100%;
    height: 70px;
    background: var(--work-action-line);
    position: absolute;
    @extend %align-center;
    bottom: 0;
    right: 0;

}

.work__action-line-title {
    @include font(700, 14px, 1.14, 0.03em);
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    color: var(--additional-white-color);
}


.work {
    display: flex;
      flex-wrap: wrap;

    & .work__img {
     position: relative;

  &:not(:nth-child(3n)) {
    margin-right: 30px;
  }
    }
}