
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: opacity var(--timer) var(--cubic-bezier),
    visibility var(--timer) var(--cubic-bezier);


    // padding: 50px 30px;
        // overflow-y: scroll;
    
    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
}

.modal {

    background-color: var(--additional-white-color);
    position: absolute;
    top: 50%;
    left: 50%;

    height: 98%;
    width: 96%;
    height: 635px;
    padding: 40px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: scale(1) translate(-50%, -50%);
    
    @media screen and (min-width: 480px) {
        width: 450px;
        height: 609px;
    }

    @media screen and (min-width: 768px) {

    }
    @media screen and (min-width: 1200px) {
        width: 528px;
        height: 581px;
    }
}

.close {
    fill: currentColor;
}

.close-btn {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--additional-white-color);
    color: var(--title-text-color);
    position: absolute;
    top: 8px;
    right: 8px;
    transition: color var(--timer) var(--cubic-bezier);

    &:focus {
        color:var(--accent-color);
        outline: 1px solid var(--accent-color);
    }
    &:hover{
        color:var(--accent-color);
    }
}

/* form */

.modal-form {
    width: auto;
    position: relative;
}

.modal-form__title {
    margin-bottom: 12px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--title-text-color);

    @media screen and (min-width: 480px) {
    font-size: 20px;
    }
    @media screen and (max-width: 1199px) {
        height: 60px;
    }
    @media screen and (min-width: 1200px) {
        line-height: 1.15;
    }
}

.modal-form__field {
    display: block;
    flex-direction: column;
    text-align: left;
    margin-bottom: 10px;  
}

.modal-form__field-name {
    display: flex;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    margin-bottom: 4px;

    color: var(--additional-color);
    transition: border-color var(--timer) var(--cubic-bezier),
    color var(--timer) var(--cubic-bezier);
    cursor: pointer;
}

.modal-form__block {
    display: flex;
    
    margin-bottom: 10px;
    justify-content:center;
    position: relative;
    margin-top: 0;
    color: var(--title-text-color);  

    & svg {
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 13px;
    fill: currentColor;
    transition: color var(--timer) var(--cubic-bezier);
    }

    & input {
    
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 0 42px;
    cursor: pointer;
    outline: none;
    transition: border-color var(--timer) var(--cubic-bezier);

        &:focus {
            border-color: var(--accent-color);
        }

        &:focus + svg {
            color: var(--accent-color);
        }

    }

}



/* comment */

.modal-form__comment {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 20px;

    & .modal-form__textarea {
    display: block;
    width: auto;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    outline: none;
    transition: border-color var(--timer) var(--cubic-bezier);
    }

    & textarea:focus {
    border-color: var(--accent-color);
    }

    & label {
    margin-bottom: 4px;
    margin-top: 0;
    }
}

.modal-form__textarea::placeholder {
    font-weight: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

/* checkbox */

.modal-form__checbox-field {
    display: flex;
    margin-bottom: 30px;
    justify-content:center;
    text-align: left;
    
}

.modal-form__check {
    width: 16px ;
    height: 15px;
    margin-right: 7px;
    @extend %align-center;
    align-self: center;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    transition: background-color var(--timer) var(--cubic-bezier);
    cursor: pointer;

    .modal-form__checbox:checked + & {
    background-color: var(--accent-color);
    border: none;

}

    .modal-form__checbox:focus + &  {
        border: 2px solid var(--accent-color);
    }

}

.modal-form__check-icon {
    fill: var(--additional-white-color);
}

.modal-form__checkbox-text{
    font-weight: normal;

    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--additional-color);
    @media screen and (min-width: 480px) {
    font-size: 12px;
    }
    @media screen and (min-width: 1200px) {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    }
        
}

.modal-form__checkbox-link{
    font-weight: normal;
    font-size: 12px;
    line-height: 1.17;
    // margin-left: 4px;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--accent-color);
    outline: none;
    transition: outline var(--timer) var(--cubic-bezier);

    &:focus{
    outline: 2px solid var(--accent-color);

    }
 @media screen and (min-width: 1200px) {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.modal-form__btn {
  width: 200px;
  height: 50px;
  margin: 0px auto;
  padding: 0px;
  display: flex;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;

  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;

  color: var(--additional-white-color);
  background-color: var(--accent-color);
  border: none;
  box-shadow: var(--box-shadow);
  border-radius: 4px;

  transition: background-color 250ms var(--cubic-bezier);
  cursor: pointer;

  &:focus {
    box-shadow: 0px 4px 4px var(--box-shadow);
    background-color: var(--button-hover);
  }
  &:hover {
    box-shadow: 0px 4px 4px var(--box-shadow);
    background-color: var(--button-hover);
  }

}