.section {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-bottom: 0;
    margin-top: 0;
    
}
.section-work {
    padding-top: 0;
    padding-bottom: 94px;
}
.section-team {
    background-color: var(--background-team-color);
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-clients {
    
    padding-top: 0;
    padding-top: 94px;
    padding-bottom: 94px;
}

.section__title {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-style: normal;
    text-align: center;
    color: var(--title-text-color);
    @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}